 .addTask {
   width: 50%;
 }

 
 .done-button{
  padding: 5px;
  background-color: rgb(168, 248, 195);
  margin-right: auto;

}

h4 {
  text-align: center;
}
h6 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

