  
 .addTask {
  width: 50%;
} 

.done-button {
  padding: 5px;
  background-color: rgb(239, 248, 242);
  margin-right: auto;
  font-weight: bold;
}

h4 {
  text-align: center;
}
h6 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#done {
  margin-top: 25px;
  margin-left: 13px;
  height: 35px;
  padding: 13px;
 }

.btn-outline-primary {
  font-weight: bold;
  background-color: rgb(240, 240, 250);
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 1.7rem;
 }
 

.no-gutters {
background-color: rgba(251, 251, 234, 0.89);
}

.card{
  background-color: rgba(251, 251, 234, 0.89);
}

.reset {
   margin-left: 340px;
   margin-bottom: 5px;
  border-radius: 5px;
} 